<a href="https://colab.research.google.com/github/aarash21/aarash21/blob/main/14_03_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def ABC(text):
  return text.upper()
def dff(text):
  return text.lower()

print(ABC("My name is Ram"))
name=ABC
print(name("My name is Aarash"))

MY NAME IS RAM
MY NAME IS AARASH

In [6]:
def greet(func):
  greeting = func("welcome to the class")
  print(greeting)

greet(ABC)
greet(dff)

WELCOME TO THE CLASS
welcome to the class

In [7]:
class Employee:
  Name = "Aarash"
  Dept = "CSE"

def info(self, City):
  print(self.Name , self.Dept , City)

  E1 = Employee()
  E2 = Employee()
  City="Faridabad"
  E1.info
  E2.info

In [ ]:
class Employee:
  Name = "Ram"
  Dept = "HR"

  def__init__(Self,N,D):
    self.N=N
    self.D=D
    print(self.N,self.D)
def address(self,City):
  print(City)
  E1=Employee("Divya","EIED")
  E2=Employee("Dev","CSE")

In [ ]:
class Rectangle:
  length=5
  breadth=4
  def area(self):
    print(self.length*self.breadth)
R1=Rectangle()
R1=area()

** WAP to use a class to calculate area and perimeter of a square**

In [18]:
class Square:
  side=4

  def area(self):
    print(self.side*self.side)
  def perimeter(self):
    print(self.side*4)

S1=Square()
S1.area()
S1.perimeter()

16
16

**Create a class to generate a table of n where n can be any number**

**factorial function**

**square function**

**cube function**