<a href="https://colab.research.google.com/github/aarash21/aarash21/blob/main/python_30_jan_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LISTS AND TUPLES**

In [1]:
print('\\')

\

In [4]:
print("\a")



In [5]:
print('hello \t world')

hello 	 world

In [7]:
print("hello\nworld")

hello
world

In [8]:
print("what\'s your name")

what's your name

In [9]:
print(R"what\'s your name")

what\'s your name

In [10]:
a=[1,2,3,'a','aarash']
print(type(a))

<class 'list'>

In [11]:
list=[1,2,3,'a','aarash']
list2=[5,6,7,8,]
print(list[0])
print(list[1:3])
print(list[2:])
print(list *2)
print(list + list2)

1
[2, 3]
[3, 'a', 'aarash']
[1, 2, 3, 'a', 'aarash', 1, 2, 3, 'a', 'aarash']
[1, 2, 3, 'a', 'aarash', 5, 6, 7, 8]

In [12]:
names=["aarash","akshat","vedaant","jeetu", "nishkarsh"]
print(names[0])
print(names[-4])
names[2]="aditya"      #replacement at location 2
print(names)

print(names[0:3])

names.append("kuku")   #list ke last me add ho jayega
print(names)

names.insert(0,"bhalu")
print(names)

names.remove("jeetu")
print(names)

print("aarash" in names)

print(len(names))

names.clear()    #list me sab elements hat jayega but it will be still a list kyuki list delete nhi hogi bas ander ke elements delete ho jayenge
print(names)

aarash
akshat
['aarash', 'akshat', 'aditya', 'jeetu', 'nishkarsh']
['aarash', 'akshat', 'aditya']
['aarash', 'akshat', 'aditya', 'jeetu', 'nishkarsh', 'kuku']
['bhalu', 'aarash', 'akshat', 'aditya', 'jeetu', 'nishkarsh', 'kuku']
['bhalu', 'aarash', 'akshat', 'aditya', 'nishkarsh', 'kuku']
True
6
[]

In [14]:
num_list= [1,2,3,4,5,6,"aarash", "kuku", "bhalu"]
for i in num_list:
  print(i)

1
2
3
4
5
6
aarash
kuku
bhalu

In [16]:
num_list= [1,2,3,4,5,6,"aarash", "kuku", "bhalu"]
i=1
while i<= len(num_list):
print(i)

IndentationError: expected an indented block after 'while' statement on line 3 (<ipython-input-16-b6d0f5b10bd1>, line 4)

In [17]:
a=(1.2,3)        #"(   )" means tuple
print(type(a))   #list can be modified but tuple cannot "tuple is immutuable"

<class 'tuple'>